mysql-connector-python
bcrypt
python-dotenv
# Agregar según se necesite:
# reportlab      -> exportar PDF (utils/exportador.py)
# openpyxl       -> exportar Excel (utils/exportador.py)
# cryptography   -> si se cifra la contraseña de correo (utils/seguridad.py)
